*, *::before, *::after {
	box-sizing: border-box !important;
}
.myc-container {
	width: auto;
	min-width: 500px; /* min screen size */
	display: inline-block;
}

#myc-conversation-area {
	width: auto;
	max-width: 100%;
	max-height: 320px;
	position: relative !important;
	padding-bottom: 0px;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	padding-right: 20px; /* FIXME only add padding if vertical scrollbar is added*/
	padding-left: 20px; /* FIXME only add padding if vertical scrollbar is added*/
}
.myc-content-overlay {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}

.myc-content-overlay-container .myc-image-response .wrapper_img {
		position: relative;
		overflow: hidden !important;
		width: 100%;
		height: auto;
}

.myc-content-overlay-container .myc-image-response .wrapper_img img {
	 transform: scale(1.2, 1.2);
}
.myc-conversation-bubble-container + .myc-conversation-bubble-container {
	margin-top: 10px;
}
.myc-conversation-bubble {
	padding: 6px 9px;
	opacity: 1 !important;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	max-width: 80%;
}
.myc-conversation-response {
	background-color: #e8e8e8;
	color: #323232;
	position: relative;
}

.myc-conversation-response:after {
	position: absolute;
    right: -5px;
    background-color: #e8e8e8;
    content: ' ';
    display: block;
    top: 30%;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.myc-conversation-request:before {
	position: absolute;
    left: -5px;
    background-color: rgb(67,130,248) !important;
    content: ' ';
    display: block;
    top: 30%;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.myc-image-response {
	padding: 9px 6px 6px 6px;
	padding: 0 !important;
	position: relative !important;
	overflow: hidden !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.myc-quick-reply {
	display: block;
	margin-top: 6px;
}
.myc-image-response .wrapper_img img {
	max-width: 300px;
	max-height: 200px;

}
.myc-conversation-request {
	background-color: rgb(67,130,248) !important;
	color: #fff;
	position: relative;
	font-size: .8em !important;
}
#myc-input-area {
	margin-top: 10px;
	clear: both;
	display: block;
	position: relative;
	overflow: hidden;
}
#myc-text {
	max-width: 100%;
	min-width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.myc-debug {
	margin-top: 10px;
}
#myc-debug-data {
	max-width: 100%;
}
.myc-conversation-bubble-container-response {
	text-align: right;
}

.myc-datetime {
	margin-top: 2px;
	font-style: italic;
	font-color: #888;
}


/* Overlay */
.myc-content-overlay {
	position: fixed;
	bottom: 0%;
	right: 5%;
	width: 350px;
	display: block;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	z-index: 999;
	background-color: #fff;
	text-align: left;
}
.myc-content-overlay-header {
	height: 50px;
	font-weight: 600;
	line-height: 50px;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	background-color: rgba(67,130,248, 1) !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.myc-content-overlay-header .myc-content-overlay-header-text {
	font-size: .7em !important;
}
.myc-content-overlay-powered-by {
	background-color: #e5e5e5;
	color: #333;
	font-size: 80%;
	padding: 5px;
	text-align: right;
	font-style: italic;
}
.myc-content-overlay-header .myc-icon-toggle-down, .myc-content-overlay-header .myc-icon-toggle-up {
	line-height: 50px;
	float: right;
}
.myc-content-overlay-header {
	cursor: pointer;
}
.myc-content-overlay-container {
	display: block;
}
.myc-content-overlay-container .myc-container {
	width: 100% !important;
	min-width: auto !important;
	display: block;
}
.myc-content-overlay-container .myc-container #myc-conversation-area {
	max-height: inherit;
	display: block;
	height: 350px;
	padding-top: 10px;
}
.myc-content-overlay-container .myc-image-response .wrapper_img img {
	max-width: 100%;
}

.myc-content-overlay-container #myc-input-area {
	padding: 10px;
	margin-top: 0px;
}
 .myc-conversation-response:after {
	z-index: -100;
	opacity: 0;
}

input#myc-text{
	font-size: .7em !important;
	box-sizing: border-box !important;
	border-color: rgb(229, 229, 229) !important;
	transition: all .2s ease;
}

input#myc-text::placeholder {
	color: rgb(229, 229, 229) !important;
}

input#myc-text:focus {
	box-shadow: 0px 0px 8px rgb(229, 229, 229);
}
.myc-conversation-bubble.myc-conversation-response.myc-quick-replies-response ,
.myc-conversation-bubble.myc-conversation-response.myc-is-active.myc-quick-replies-response {
	display: flex;
	flex-direction: column;
	margin-left: 20%;
	background-color: white !important;
	padding: 0;
	border: 0.6px solid rgba(144,144,144, 0.3) !important;
	animation: tra .1s ease;
	overflow: hidden !important;
	border-radius: 5%;
}

 input[type="button"] {
	margin: 0;
	color: rgb(67,130,248) !important;
	border-radius: 0px !important;
	font-weight: 500 !important;
	background-color: transparent !important;
	border-top: 0.6px solid rgba(144,144,144, 0.7) !important;
	transition: all .2s linear !important;
}

 input[type="button"]:hover,
 .myc-conversation-bubble.myc-conversation-request.myc-is-active {
	 color: whitesmoke !important;
	 border-radius: 2px !important;
	 background-color: rgb(67,130,248) !important;
 }

 .myc-conversation-bubble.myc-conversation-request.myc-is-active {
	 position: initial;
 }
 .myc-conversation-bubble-container.myc-conversation-bubble-container-request {
	 position: relative;
 }
 .myc-conversation-bubble.myc-conversation-request.myc-is-active .load__spin {
	 top: 100px;
	 left: 50%;
	 position: absolute;
	 border-radius: 50%;
	 border: 4px solid rgba(67,130,248, 0.5);
	 border-top: 4px solid rgba(67,130,248, 1);
	 width: 20px;
	 height: 20px;
	 animation: rote 0.4s linear infinite;
	 display: initial;
 }

 @keyframes rote {
	 0% { transform: rotate(0deg); }
	 100% { transform: rotate(360deg); }
 }

 @keyframes tra {
	 0% { transform: translateX(70%); }
	 100% { transform: translateX(0%); }
 }

.myc-conversation-bubble.myc-conversation-request.myc-is-active::before {
	background-color: inherit !important;
}

.myc-conversation-bubble.myc-conversation-response.myc-is-active.myc-quick-replies-response .myc-card-title, .myc-conversation-bubble.myc-conversation-response.myc-is-active.myc-quick-replies-response  .myc-card-subtitle,
.myc-conversation-bubble.myc-conversation-response.myc-quick-replies-response .myc-card-title,
.myc-conversation-bubble.myc-conversation-response.myc-quick-replies-response .myc-card-subtitle{
	text-align: left;
	font-weight: 600;
	font-size: .7em;
	padding-top: 5px;
	padding-left: 8px;
}
.myc-card-subtitle {
	font-weight: 100 !important;
	padding-bottom: 5px;
}

.myc-conversation-bubble.myc-conversation-response.myc-text-response,
.myc-conversation-bubble.myc-conversation-response.myc-is-active.myc-text-response {
	font-size: 12px;
	background-color: rgba(241, 240, 240, 1);
	animation: tra .2s ease;
	overflow: hidden !important;
}
.myc-conversation-bubble.myc-conversation-response.myc-text-response::after,
.myc-conversation-bubble.myc-conversation-response.myc-is-active.myc-text-response::after {
	opacity: 1 !important;
	z-index: 10 !important;
	background-color: rgba(241, 240, 240, 1);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.myc-container {
		min-width: 100%;
		width: 100%;
		max-height: 320px;
	}
	.myc-image-response .wrapper_img img {
		max-width: 100%;
	}
	.myc-content-overlay {
		min-width: 100%;
		width: 100%;
		max-height: 100%;
		right: auto;
	}
	.myc-content-overlay-container {
		font-size: 100%;
	}
	.myc-toggle-open {
		min-height: 100%;
	}
	.myc-content-overlay-container .myc-container {
		display: block;
		max-height: 100%;
		position: fixed;
	}
	.myc-content-overlay-container .myc-container #myc-conversation-area {
		position: relative;
		max-height: 80%;
	}
	.myc-content-overlay-container .myc-container #myc-input-area {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation: landscape) {
	.myc-content-overlay-container .myc-container #myc-conversation-area {
		max-height: 170px;
	}

}
@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation: portrait) {
	.myc-content-overlay-container .myc-container #myc-conversation-area {
		height: 85vh;
	}
}


/* Loader */
@keyframes blink {
	50% {
		color: transparent;
	}
}
#myc-conversation-area .myc-loading {
	display: block;
	padding: 6px 9px;
	margin-top: 10px;
	text-align: center;
	vertical-align: center;
}
#myc-conversation-area .myc-icon-loading-dot {
	animation: 1s blink infinite;
	font-size: 1em;
	display: clear;
	margin-left: 2px;
	margin-right: 2px;
}
#myc-conversation-area .myc-icon-loading-dot:nth-child(2) {
	animation-delay: 750ms;
}
#myc-conversation-area .myc-icon-loading-dot:nth-child(3) {
	animation-delay: 1500ms;
}


@font-face {
	font-family: 'myc-icons';
	src:  url('../fonts/icons.eot?6tk1sz');
	src:  url('../fonts/icons.eot?6tk1sz#iefix') format('embedded-opentype'),
	url('../fonts/icons.ttf?6tk1sz') format('truetype'),
	url('../fonts/icons.woff?6tk1sz') format('woff'),
	url('../fonts/icons.svg?6tk1sz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="myc-icon-"], [class*=" myc-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'myc-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.myc-icon-toggle-up:before {
  content: "\f077";
}
.myc-icon-toggle-down:before {
  content: "\f078";
}
.myc-icon-loading-dot:before {
  content: "\f111";
}
